<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of carrito">
      <ion-label>
        <h2>{{ producto.NombreProducto }}</h2>
        <p>{{ producto.idProducto }}</p>
        <p>{{ producto.Descripcion }}</p>
        <p>{{ producto.Precio }}</p>
        <ion-button (click)="eliminarDelCarrito(producto.idProducto)">Eliminar</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Total: {{ total }}</ion-label>
    <ion-button type="button" expand="full" color="medium" (click)="Crear_transaccion()">pagar</ion-button>
  </ion-item>
</ion-content>

<ion-list style="text-align:center">

      
    <ion-button type="button" expand="" color="success" [routerLink]="['/iniciar']">Iniciar Sesion</ion-button>
    <ion-button type="button" expand="" color="secondary" [routerLink]="['/registro']">Crear Cuenta</ion-button>

</ion-list>