<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iniciar</ion-title>
  </ion-toolbar>
</ion-header>

<form>
 <ion-item>
    <ion-label position="floating">gmail</ion-label>
    <ion-input [(ngModel)]="user.Gmail" name="gmail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="user.Contrasenna" name="Contrasena" type="password"></ion-input>
  </ion-item>

  <br>
  <ion-button type="button" expand="full" color="warning" (click)="login()">Iniciar Sesión</ion-button>
</form>