<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenidos a Ferremax</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card class="cardd">

    <ion-card-content>

      <img src="assets/duoc.jpg" alt="Inicio de sesion">

      <ion-card-header>
        <ion-card-title>Tipos de Productos</ion-card-title>
      </ion-card-header>

      <ion-button type="button" expand="full" color="medium" [routerLink]="['/manuales']">Herramientas Manuales</ion-button>
      <br>
      <ion-button type="button" expand="full" color="medium" [routerLink]="['/seguridad']">Equipos Seguridad</ion-button>      
      <br>
      <ion-button type="button" expand="full" color="medium" [routerLink]="['/fijaciones']">Fijaciones</ion-button>  
      <br>
      <ion-button type="button" expand="full" color="medium" [routerLink]="['/materiales']">Materiales Basicos</ion-button>     
      <br>
      <ion-button type="button" expand="full" color="medium" [routerLink]="['/tornillos']">Tornillos Anclajes</ion-button>    
      <br>
      <ion-button type="button" expand="full" color="medium" [routerLink]="['/medicion']">Equipos medicion</ion-button>

      
    </ion-card-content>

    <ion-list style="text-align:center">

      <ion-button type="button" expand="" color="success" [routerLink]="['/suscribete']">Suscribete</ion-button>

    </ion-list>

  </ion-card>

  <ion-card-title class="redes">Siguenos en nuestras redes</ion-card-title>

</ion-content>





