

<ion-content>

  <ion-card class="cardd">

    <ion-card-content>

      <img src="assets/duoc.jpg" alt="Inicio de sesion">

      <ion-card-header>
        <ion-card-title>Tipos de Productos</ion-card-title>
        <ion-button type="button" expand="full" color="medium" [routerLink]="['/compra']">Ir a Pagar</ion-button>
      </ion-card-header>

      <ion-button (click)="mostrarProductosPorTipo('materiales')">Materiales</ion-button>
      <br>
      <ion-button (click)="mostrarProductosPorTipo2('manuales')">Manuales</ion-button>
      <br>
      <ion-button (click)="mostrarProductosPorTipo3('seguridad')">Seguridad</ion-button>
      <br>
      <ion-button (click)="mostrarProductosPorTipo4('medicion')">Medicion</ion-button>
      <br>
      <ion-button (click)="mostrarProductosPorTipo5('fijaciones')">Fijacion</ion-button>
      <br>
      <ion-button (click)="mostrarProductosPorTipo6('tornillos')">Tornillos</ion-button>
     
      
    </ion-card-content>

    <ion-list style="text-align:center">

      <ion-button type="button" expand="" color="success" [routerLink]="['/registro']">Suscribete</ion-button>

    </ion-list>

  </ion-card>

  <ion-card-title class="redes">Siguenos en nuestras redes</ion-card-title>

</ion-content>





